body{
    margin: 0px;
    padding: 0px;
    background-color: #1c223a;
    font-family: Roboto;
}

#principaldiv{
    background-color: #222942;
    box-sizing: border-box;
    box-shadow: -5px 5px 70px rgba(0, 0, 0, 0.527);
    border-radius: 8px;
    width: 380px;
    height: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding-left: 35px;
    padding-top: 20px;
}

input{
    background-color: #272e4a;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 300px;
    margin-bottom: 12px;
}

input::-webkit-input-placeholder{
    padding-left: 5px;
    color: #89d8eb70;
}

h1{
    font-size: 18px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#button1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: #00ccff;
    border: none;
    padding: 5px;
    height: 40px;
    width: 270px;
    border-radius: 18px;
    transition: 0.3s;
    cursor: pointer;
}

#button1:hover{
    background-color: #00aeda;
    transition: 0.3s;
}

p{
    text-align: center;
    color: #00ccff;
    cursor: pointer;
    transition: 0.3s;
}

p:hover{
    color: #0193b8;
    transition: 0.3s;
}

#helpd{
    position: absolute;
    background-color: rgb(24, 24, 24);
    height: 625px;
    width: 300px;
    margin-top: -550px;
    margin-left: -300px;
    transition: 0.5s;
    border-radius: 0px 10px 10px 0px;
}

#close{
    font-weight: bold;
    color: rgb(24, 24, 24);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 430px;
    margin-left: 130px;
    border: none;
    background-color: #424242;
    cursor: pointer;
}

.psbox{
    color: #ffffff;
    padding-left: 12px;
    font-size: 12px;
    text-align: left;
    cursor: auto;
}